{{ define "main" }}
<section class="container">

  <!-- Profile Picture -->
  <div style="text-align: center;">
    <img src="/images/cover.png" alt="Profile Picture" 
         style="display: block; margin: auto; border-radius: 50%; width: 200px; margin-top: 50px;">
  </div>

  <!-- Greeting -->
  <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
    <h2>Hi, I'm Brandon.</h2>
  </div>

  <!-- Social Icons -->
  <div style="display: flex; justify-content: center; align-items: center; gap: 15px; margin-top: 0px; margin-bottom: 20px; 
              background-color: rgba(0, 0, 0, 0.2); padding: 8px 10px; border-radius: 8px; 
              max-width: 200px; width: 90%; margin-left: auto; margin-right: auto;">
    <a href="https://www.linkedin.com/in/brandonbaldassi" target="_blank">
      <img src="/images/linkedin-app-white-icon.png" alt="LinkedIn" style="width: 20px; margin: 0 10px;">
    </a>
    <a href="https://www.youtube.com/@brandonbaldassi6381" target="_blank">
      <img src="/images/youtube-app-white-icon.png" alt="YouTube" style="width: 20px; margin: 0 10px;">
    </a>
    <a href="https://www.instagram.com/brandonbaldassi/" target="_blank">
      <img src="/images/instagram-white-icon.png" alt="Instagram" style="width: 20px; margin: 0 10px;">
    </a>
  </div>

  <p style="text-align: center; margin-top: 10px;">
    I work at the intersection of <strong><em>physics and engineering in medicine</strong></em>, 
    applying science to solve significant challenges in healthcare.
  </p>

  <!-- Research Section -->
  <div class="overlay-container">
    <img src="/images/AFB3A530-B872-41B0-A072-C87B38DFE0D3.JPG" alt="Research" 
         class="overlay-image">
    <a href="/research/" class="overlay-button">
      <h1>Research →</h1>
    </a>
  </div>

  <p style="text-align: center;">
    My other passion is <strong><em>motorsports</strong></em> — I thrive on the creative and technical challenges 
    and share my journey to inspire others.
  </p>

  <!-- Motorsports Section -->
  <div class="overlay-container">
    <img src="/images/L1005525.png" alt="Motorsports" 
         class="overlay-image">
    <a href="/motorsports/" class="overlay-button">
      <h1>Motorsports →</h1>
    </a>
  </div>

  <p style="text-align: center;">
    As a coach, I bring the same drive in helping others overcome athletic challenges, 
    and become more <strong><em>capable and resilient through training</em></strong>.
  </p>

  <!-- Athletics Section -->
  <div class="overlay-container">
    <img src="/images/_DSF7906.png" alt="Athletics" 
         class="overlay-image">
    <a href="/athletics/" class="overlay-button">
      <h1>Athletics →</h1>
    </a>
  </div>

</section>
{{ end }}