{{ define "main" }}
  <section class="container">
    <div style="text-align: center;">
      <img src="/images/cover_resize.png" alt="Profile Picture" style="display: block; margin: auto; border-radius: 50%; width: 200px;  margin-top: 50px;">
    </div>
    <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
        <h2>Hi, I'm Brandon.</h2>
    </div> 
    
    <div style="display: flex; justify-content: center; align-items: center; gap: 15px; margin-top: 0px; margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.2); padding: 8px 10px; border-radius: 8px; max-width: 200px; width: 90%; margin-left: auto; margin-right: auto;">
        <a href="https://www.linkedin.com/in/brandonbaldassi" target="_blank">
            <img src="/images/linkedin-app-white-icon.png" alt="LinkedIn" style="width: 20px; margin: 0 10px;">
        </a>
        <a href="https://www.youtube.com/@brandonbaldassi6381" target="_blank">
            <img src="/images/youtube-app-white-icon.png" alt="YouTube" style="width: 20px; margin: 0 10px;">
        </a>
        <a href="https://www.instagram.com/brandonbaldassi/" target="_blank">
            <img src="/images/instagram-white-icon.png" alt="Instagram" style="width: 20px; margin: 0 10px;">
        </a>
    </div>
    <!-- <hr> -->

    <p style="text-align: center; margin-top: 10px;">
    I work at the intersection of <strong><em>physics and engineering in medicine</strong></em>, applying science to solve significant challenges in healthcare. 
    </p>
    <div class="hero-section">
        <img class="hero-image" src="/images/AFB3A530-B872-41B0-A072-C87B38DFE0D3.JPG" alt="Research Image">
        <div class="hero-link">
            <div class="hero-background"></div>
            <h1 class="hero-title">
                <a href="/research/" aria-label="View Research">Research →</a>
            </h1>
        </div>
    </div>

    <p style="text-align: center; margin-top: 10px;">
        My other passion is <strong><em>motorsports</em></strong> — I thrive on the creative and technical challenges and share my journey to inspire others. 
    </p>
    <div class="hero-section">
        <img class="hero-image" src="/images/L1005525.png" alt="Research Image">
        <div class="hero-link">
            <div class="hero-background"></div>
            <h1 class="hero-title">
                <a href="/motorsports/" aria-label="View Motorsports">Motorsports →</a>
            </h1>
        </div>
    </div>

    <!-- <p class="intro-text">
        My other passion is <strong><em>motorsports</em></strong> — I thrive on the creative and technical challenges and share my journey to inspire others. 
    </p>
    <div style="position: relative; text-align: center; color: white;">
        <img src="/images/L1005525.png" alt="Motorsports Image" style="width:100%; height: 320px; object-fit: cover; margin-top: 20px; margin-bottom: 20px;">
        <a href="/motorsports/" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                    background: rgba(0, 0, 0, 0.5); padding: 15px 20px; border-radius: 8px; text-decoration: none; color: white;">
          <h1 style="margin: 0; font-size: 2em;">Motorsports →</h1>
        </a>
      </div> -->
      <p style="text-align: center; margin-top: 10px;">
        As a coach, I bring the same drive in helping others overcome athletic challenges, and become more <strong><em>capable and resilient through training</em></strong>.
      </p>
      <div class="hero-section">
        <img class="hero-image" src="/images/_DSF7906.png" alt="Athletics Image">
        <div class="hero-link">
            <div class="hero-background"></div>
            <h1 class="hero-title">
                <a href="/athletics/" aria-label="View Athletics">Athletics →</a>
            </h1>
        </div>
    </div>
        <!-- <p style="text-align: center;">
            As a coach, I bring the same drive in helping others overcome athletic challenges, and become more <strong><em>capable and resilient through training</em></strong>.
        </p>
        
        <div style="position: relative; text-align: center; color: white;">
            <img src="/images/_DSF7906.png" alt="Athletics Image" style="width:100%; height: 320px; object-fit: cover; margin-top: 20px; margin-bottom: 20px;">
            <a href="/athletics/" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        background: rgba(0, 0, 0, 0.5); padding: 15px 20px; border-radius: 8px; text-decoration: none; color: white;">
              <h1 style="margin: 0; font-size: 2em;">Athletics →</h1>
            </a>
          </div> -->

        <!-- <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;"> 
            <a href="/posts/"><em>Explore Training→</em></a> -->

{{ end }}
